<div>
    <div class="jumbotron " id="about">
    	<div class="navbar transparent navbar-inverse navbar-static-top hr">
		    <div class="navbar-brand logo color">
		    	<h1>About Us</h1>
		   	</div>
		    <div class="navbar-brand-right">
    		</div>
    <div class="container">

        <div class="navbar-header color">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav mineul color">
              <li><%= link_to 'Home', root_url %></li>
               <li><%= link_to 'Contact', contact_path %></a></li>
               <li><%= link_to 'Help', help_path %></li>
            </ul>
        </div>
	<div class="navbar-header" id="about-content">
		</br>
		</br>
		</br>
        <h2 class="hhh">Who We Are</h2>

		<p>TrailMix is an application about you as much as it is about nature. It's about getting away and bringing things back to basics.</p>

		<p>Life can become frantic and hectic at times, but </p>

		<p>We're here to instill an appreciation of the natural world to people everywhere, because at the heart of it all, we too are creatures of our environment</p>

		<h2 class="hhh">How To User Our Site</h2>
		<p>Simply city or area of your choosing and we find the closest, and most popular trails close to that area. Whether it be for mountain biking, hiking, snow sports, or just a simple stroll, we've got you covered.</p>

		<p>Once the search is made, the results are displayed and when you click the details of those results, Instagram Tags associated with the trail pop up to show you others who have trekked along the same path. </p>

		<p>Google Maps & weather will also display to kindly give you directions and show the forecast before embarking on your activity.</p>

		<p>NEVER has there been a trails app that combines all things as seemlessly as this one.</p>

		<p>Think of it this way, all our technologoy leads to SERENITY.</p>

		<ul>
			SAY NO
			<li>to reception</li>
			<li>to distractions</li>
			<li>to clutter</li>
			</br>

			SAY YES
			<li>to PEACE</li>
			<li>to TRANQUILITY</li>
			<li>to MOTHER NATURE</li>
		</ul>

		<h2 class="hhh">Our Team</h2>
		<ul>
			<li><h3>Calvin Liu</h3></li>
			<li><h3>Steven Gordon</h3></li>
			<li><h3>Jeryl Barnum</h3></li>
		</ul>
	</div>
    </div>
</div>
</div>