<h1>Help & FAQ</h1>


<h2>How do I use your site?</h2>
<p>Simple, just click search</p>

<h2>Why don't I just use Yelp</h2>
<p>Sure, why don't you?</p>

<h2>Is your service free?</h2>
<p>100%, but you're welcome to donate</p>
