#contact{
	background-image: url('http://i.imgur.com/e5cdX41.jpg');
	background-size: cover;

}
#about{
  background-image: url('http://i.imgur.com/e5cdX41.jpg');
  font-family: capture_itregular;
  color: rgb(213, 200, 207);
  height: 100%;
}
#about-content {
  color: black;
}

.hhh {
	color: grey;
}
